
*{ margin: 0; 
    padding: 0;
box-sizing: border-box;}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
    overflow-x: hidden; 
    scroll-behavior: smooth;
}

header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 100%;

}



header img{
    margin-top: 3.4rem ;
    width: 45%;
    max-width: 420px;
    min-width: 120px;
}
.header__titleContent{
    margin-top: 4rem;

    width: 85%;
    height: 218px;

    min-width: 288px;
    max-width: 900px;

    align-self: center;
    text-align: center;

}
.header__titleContent h1{
    color: var(--just-white);
    line-height: 2.5rem;
    font-size: 2.4rem;
    font-weight: bold;
}

.header__titleContent p{
    margin-top: 2rem;
    color: var(--soft-orange);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
}
.header__button{
    display: block;
    position: absolute;
    overflow-x:hidden;
    left: calc(50% - 114px);
    top: calc(100% - 25px);
   
    padding: 1.5rem; 
    font-size: 1.4rem;
    
    color: var(--black);
    background-color:var(--off-white) ;
    
    font-weight: bold;
    text-decoration:none;
    
    box-shadow: 0px 4px 8px rgba( 89, 79, 30, 0.16);
    border: none;
    border-radius: 5px;
}

.header__button span{
    width: 13px;
    height: 8px;
    display: inline-block;
    margin-left:10px ;
    background-image: url(./assets/icons/down-arrow.svg);
}

main{
    width: 100%;
    height: 100%;
    background-color: var(--off-white);
}

.main__exchangeContainer{
    width: 100%;
    height: 100%;
    padding: 8rem 0 4em;
    text-align: center;
}
.main__backgroundImg{
background-image: url("./assets/img/bitcoin.svg");
width: 200px;
height: 200px;
margin: 0 auto; 
margin-bottom: 5rem;
background-size: cover;
background-position: center;
background-repeat: no-repeat;


}
.main__exchangeContainer__text{
    width: 70%;
    min-width: 288px;
    max-width: 900px;
margin: 0 auto;
}

.main__exchangeContainer__text h2{
    font-size: 2.4rem;
    line-height: 2.4rem;
    margin-bottom: 2.5rem;
    line-height: bold;
    color: var(--black);
}

.main__exchangeContainer__text p{

    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-bottom: 2.5rem;

}
.exchangeTable__title__1{
    color:var(--bitcoin-orange);
    margin-bottom: 3rem;
    font-weight: 700;
    font-size: 2rem;
}

.exchangeTable__title__2{
    color:var(--secondary-blue);
    margin-bottom: 3rem;
    display: inline-block;
    font-weight: 700;
    font-size: 2rem;

}

.exchangeTable__container__1 , .exchangeTable__container__2 {
    margin: 0 auto ;
    width: 70%;
    height: fit-content;
    min-width: 235px;
    max-width: 500px;

    margin-bottom: 4rem;
    font-family: 'Inter',sans-serif;
}
.exchangeTable__table{

    width: 100%;
    height: 240px;
    min-width: 235px;
    max-width: 500px;
    margin-bottom:1rem ;

}


.exchangeTable__table td{

    font-size: 1.4rem;
    width: 50%;   
    background-color: var(--just-white);
}
.table__left{
    color: #B5B0AC;
    font-weight: 500;
    line-height: 1.7rem;


}
    .table__left.top__left{
        border-radius: 1.5rem 0 0 0;
    }
    .table__left.bottom__left{
        border-radius: 0 0 0 1.5rem;
    }


.table__right{

    color: #757575;
    font-weight: 400;
    line-height: 1.7rem;

}
    .table__right.top__right{
        border-radius: 0 1.5rem 0 0;
    }
    .table__right.bottom__right{
        border-radius: 0 0 1.5rem 0;
    }

.exchangeTable__table .down{

    background-image: url(./assets/icons/trending-down.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;

    width:15px;
    height:15px;
    margin-left:10px;
}    

.exchangeTable__table .up{

    background-image: url(./assets/icons/trending-up.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;

    width:15px;
    height:15px;
    margin-left:10px;
}    


.exchangeTable__textFooter__1{
    margin-top: 2rem;
    width: 190px;
    height: 30px;
    margin: 0 auto;
    padding: 0.8rem;
    background-color: var(--soft-orange);
    border-radius: 0.8rem;
    
}
.exchangeTable__textFooter__2{
    margin-top: 2rem;
    width: 190px;
    height: 30px;
    margin: 0 auto;
    padding: 0.8rem;
    background-color: #E7F5FF;
    border-radius: 0.8rem;
}

.exchangeTable__textFooter__1,.exchangeTable__textFooter__2 p{
color: var(--warm-black);
line-height: 1.5rem;
font-weight: 300;
font-family: 'Inter',sans-serif;

}


.main__description{
    background-color: var(--black);
    padding: 20px 25px;
    position: relative;
}

.description__patataLogo{
    background-image: url(./assets/icons/batata.svg);
    background-repeat: no-repeat;
    background-size: cover;
    top:-12.5px;
    left: calc(50% - 20px);    
    width: 40px;
    height: 25px;
    position: absolute;
    overflow-x:hidden


}

.description__encabezado{
    width: 100%;
    height: auto;
    margin: 0 auto;   
    text-align: center;
    margin-bottom: 10px;
}
.description__encabezado h2{

    color:var(--just-white);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;

}

.description__encabezado p{
    padding: 15px 0;
    font-size: 1.4rem;
    font-weight: 500;
    color:#808080

}

.description__card{
 
    background-color: var(--warm-black);
    margin-bottom:2rem ;
    padding: 10px;
    max-width: 620px;
    width: 100%;
}

.description__card span{
 
 height: 20px;
 width:20px;
  
 display: inline-block;
 background-repeat: no-repeat;
 background-size: cover;
    background-position:center;
 margin-bottom: 5px;

color: var(--just-white);

}


.card__clock{
    
    background-image: url(./assets/icons/clock.svg);
    
}
.card__eye{
    background-image: url(./assets/icons/eye.svg);
}
.card__dollar{
    background-image: url(./assets/icons/dollar-sign.svg);
}
.card__check{
    background-image: url(./assets/icons/check-circle.svg);
}

.card__title{
    color:var(--just-white);
    margin-bottom: 7px;
    font-size: 1.8rem;
    font-weight: 700;
}

.card__text{
    color:#858585;
    line-height: 18px;
    padding-bottom: 10px;
    font-size: 1.4rem;
    font-weight: 300;
}

.main__backgroundGirl{

    background-image: url(./assets/img/bitcoinbaby2x.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    
    min-width: 320px;
    height:50vh ;

    text-align: center;
}

.backgroundGirl__title{

    font-size: 2.4rem;
    font-weight: bold;
    
    line-height: 1.6rem;
    padding-top: 6rem;
    

    color: var(--just-white);

}
.main__planes{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    min-height:568px ;
    margin-top: 4rem;
}
.planes__title{
    padding: 0 1.5rem;
}
.planes__title h2{
   
    font-size: 2.4rem;  
    color: var(--warm-black);

}
.planes__title p{
    font-size: 1.4rem;  
    color: #757575;
    margin:3rem 0;
}

.carta__section--scroll{

    display: flex;
    overflow-x: scroll;
    overscroll-behavior-x:contain;
    scroll-snap-type: x proximity;

}
.carta{
    scroll-snap-align: center;
    position: relative;
    background-image: linear-gradient(0deg, #f6d365 0%, #fda085 100%);
    width: 50%;
    min-width: 230px;
    max-width: 300px;
    min-height: 320px;
    margin: 6rem 1rem;
    border-radius: 15px;
    box-shadow: 0px 4px 8px 0px rgba(89,73,30, 0.16);
}
.carta h3{

    position: absolute;
    left: calc(50% - 57.5px);
    top: -13px;
    background-color:var(--bitcoin-orange) ;
    min-width: 115px;
    font-size: 1.4rem;
    font-weight: 700;
    padding: 5px 0;

    color:#ffffff;
    border-radius: 5px;
}

.carta__informacion{
    padding: 3rem 1.2rem 2rem;
    
}
.carta__informacion--pagoAnual{
    font-weight:500;
    font-size: 2rem;
    color:#ffffff;
    font-weight: 700;
    text-align: center;
}

.carta__informacion--precio{
    margin: 2rem 3rem;
    color: var(--just-white);

    font-size: 10rem;
letter-spacing: -8px;
}
.carta__informacion--precio .carta__informacion--signo{
    font-size: 2rem;
    vertical-align: text-top;
}
.carta__informacion--descripcion{
    font-size: 1.4rem;
    color: #f8f8f8;
    padding-bottom: 2.4rem;
}

.carta__boton{
    padding: 12px 16px;
    background-color:#FAf8f7;
    border: 2px solid var(--bitcoin-orange);
    border-radius: 5px;
    line-height: 1.8rem;
    font-weight: bold;
    font-family: 'DM Sans', sans-serif;
}
.carta__boton--arrow{
    background-image: url(./assets/icons/orange-right-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
 
    width:20px;
    height:20px;

    vertical-align:text-bottom;
}


.fanatico{
    background-image: linear-gradient(0deg, #d4fc79 0%, #96e6a1 100%);
}

.fanatico h3{

    background-color: rgb(6, 156, 1);

}

.master{
    background-image: linear-gradient(to top, #434343 0%, black 100%);
}
.master h3{
    background-color: rgb(255, 217, 0);
    color: #181818;
}

.master .carta__informacion--pagoAnual{

    color: #ffffff;

}

footer{
    background-color: var(--bitcoin-orange);
    display: flex;
    display: flex;
    width: 100%;
    height: 125px;
}

.footer__section1{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    
}

.footer__list{

    list-style: none;
    color: var(--just-white);
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 500;

}

.footer__section2{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.footer__section2 img{

    height: 6rem;
    width: 6rem;
}
.footer__logoText{
    position: absolute;
    margin-top: 5rem;
    font-size: 0.8rem;
    color: var(--soft-orange);
}